<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
</head>
<body>

        <table>
          <caption class="text-center">Current Standings</caption>
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Owner</th>
              <th>Total Wins</th>
              <th>Team 1</th>
              <th>Team 1 Record</th>
              <th>Team 2</th>
              <th>Team 2 Record</th>
              <th>Team 3</th>
              <th>Team 3 Record</th>
              <th>Team 4</th>
              <th>Team 4 Record</th>
            </tr>
          </thead>
            <tr>
              {% for i in range(0, 2)%}
                <td>{{team1_data[i]}}</td>
              {% endfor %}
              <td><img src="{{team1_data[3]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[4]}}</td>
              <td><img src="{{team1_data[5]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[6]}}</td>
              <td><img src="{{team1_data[7]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[8]}}</td>
              <td><img src="{{team1_data[9]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[10]}}</td>

            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team2_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team3_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team4_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team5_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team6_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>

            <tr>
              {% for i in range(0, 11)%}
              
                <td>{{team7_data[i]}}</td>
              {% endfor %}
              <td><img src="https://www.stickpng.com/assets/thumbs/58419be4a6515b1e0ad75a58.png" alt="" height=100 width=100></img>
            </tr>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">Data retrieved from <a href="https://pypi.org/project/nba-api/" target="_blank">NBA API</a>.</td>
            </tr>
          </tfoot>
       
       </table>

<p class="p">Seriously, Trevor has a problem.</p>
</body>
</html>

