<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
</head>
<body>

        <table>
          <caption class="text-center" style="color:white" text-shadow: white 0px 0px 10px;>Current Standings </caption>
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Owner</th>
              <th>Total Wins</th>
              <th>Win Percentage</th>
              <th>Team 1</th>
              <th>Team 1 Record</th>
              <th>Team 2</th>
              <th>Team 2 Record</th>
              <th>Team 3</th>
              <th>Team 3 Record</th>
              <th>Team 4</th>
              <th>Team 4 Record</th>
            </tr>
          </thead>

            <tr>

              <td>{{team1_data[0]}}</td>
              <td><img src="{{team1_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team1_data[2]}}</td>
              <td>{{team1_data[3]}}</td>
              <td><img src="{{team1_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[5]}}</td>
              <td><img src="{{team1_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[7]}}</td>
              <td><img src="{{team1_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[9]}}</td>
              <td><img src="{{team1_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team1_data[11]}}</td>

            </tr>

             <tr>
              
             <td>{{team2_data[0]}}</td>
              <td><img src="{{team2_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team2_data[2]}}</td>
              <td>{{team2_data[3]}}</td>
              <td><img src="{{team2_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team2_data[5]}}</td>
              <td><img src="{{team2_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team2_data[7]}}</td>
              <td><img src="{{team2_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team2_data[9]}}</td>
              <td><img src="{{team2_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team2_data[11]}}</td>

            </tr>

             <tr>
              
              <td>{{team3_data[0]}}</td>
              <td><img src="{{team3_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team3_data[2]}}</td>
              <td>{{team3_data[3]}}</td>
              <td><img src="{{team3_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team3_data[5]}}</td>
              <td><img src="{{team3_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team3_data[7]}}</td>
              <td><img src="{{team3_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team3_data[9]}}</td>
              <td><img src="{{team3_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team3_data[11]}}</td>
            </tr>

             <tr>
              
              <td>{{team4_data[0]}}</td>
              <td><img src="{{team4_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team4_data[2]}}</td>
              <td>{{team4_data[3]}}</td>
              <td><img src="{{team4_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team4_data[5]}}</td>
              <td><img src="{{team4_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team4_data[7]}}</td>
              <td><img src="{{team4_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team4_data[9]}}</td>
              <td><img src="{{team4_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team4_data[11]}}</td>

            </tr>

             <tr>
              
              <td>{{team5_data[0]}}</td>
              <td><img src="{{team5_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team5_data[2]}}</td>
              <td>{{team5_data[3]}}</td>
              <td><img src="{{team5_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team5_data[5]}}</td>
              <td><img src="{{team5_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team5_data[7]}}</td>
              <td><img src="{{team5_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team5_data[9]}}</td>
              <td><img src="{{team5_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team5_data[11]}}</td>

            </tr>

             <tr>
              
              <td>{{team6_data[0]}}</td>
              <td><img src="{{team6_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team6_data[2]}}</td>
              <td>{{team6_data[3]}}</td>
              <td><img src="{{team6_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team6_data[5]}}</td>
              <td><img src="{{team6_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team6_data[7]}}</td>
              <td><img src="{{team6_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team6_data[9]}}</td>
              <td><img src="{{team6_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team6_data[11]}}</td>

            </tr>

             <tr>
              
              <td>{{team7_data[0]}}</td>
              <td><img src="{{team7_data[1]}}" alt="" height=100 width=100 border-radius=50%></img></td>
              <td>{{team7_data[2]}}</td>
              <td>{{team7_data[3]}}</td>
              <td><img src="{{team7_data[13]}}" alt="" height=100 width=100></img></td>
              <td>{{team7_data[5]}}</td>
              <td><img src="{{team7_data[14]}}" alt="" height=100 width=100></img></td>
              <td>{{team7_data[7]}}</td>
              <td><img src="{{team7_data[15]}}" alt="" height=100 width=100></img></td>
              <td>{{team7_data[9]}}</td>
              <td><img src="{{team7_data[16]}}" alt="" height=100 width=100></img></td>
              <td>{{team7_data[11]}}</td>

            </tr>

            
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">Data retrieved from <a href="https://pypi.org/project/nba-api/" target="_blank">NBA API</a>.</td>
            </tr>
          </tfoot>
       
       </table>

<p class="p">Seriously, Trevor has a problem.</p>
</body>
</html>

